name: auto-publish

# Inactivity – In public repos, Actions are automatically disabled after 60 days without activity on the default branch.
# Making a commit can reactivate them.
# now = 2026-01-27 14:00:41

on:
  schedule: # Run workflow automatically
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
    inputs:
      debug_enabled:
        type: boolean
        description: Enable debug mode
        required: true

jobs:
  auto-publish:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      actions: write
      contents: write
    steps:
      - uses: actions/checkout@v6
        with:
          fetch-depth: 0 # 获取完整历史，确保 tag 操作正常

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - run: git checkout -b dev
        if: ${{ inputs.debug_enabled }}

      - run: pnpx tsx ./scripts/sync-react-version.ts
        env:
          DEV: ${{ inputs.debug_enabled }}
