name: auto-publish

# for enable GitHub Actions
# i = 0

on:
  schedule: # Run workflow automatically
    - cron: '0 0 * * *' # Runs daily at midnight UTC
  workflow_dispatch: # Run workflow manually (without waiting for the cron to be called), through the Github Actions Workflow page directly
    debug_enabled:
      type: boolean
      description: Enable debug mode
      required: true

jobs:
  check-update:
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      actions: write
      contents: write
    steps:
      - uses: actions/checkout@v6
      - uses: pnpm/action-setup@v4
      - uses: actions/setup-node@v6
        with:
          node-version: lts/*
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - run: git checkout -b dev
        if: ${{ github.event.inputs.debug_enabled }}

      - run: pnpx tsx ./scripts/sync-react-version.ts
        env:
          DEV: ${{ github.event.inputs.debug_enabled }}
